// COLORS
// i.e: $color-primary-light: #7ed56f;

// PADDINGS
$padding-medium: 2.8rem;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-max-width: 768;
$grid__columns: 12;

// BREAKPOINTS
$grid__breakpoint--medium: 768;
$grid__breakpoint--large: 992;
$grid__breakpoint--extra-large: 1200;
