.section-intro {
  position: relative;
  min-height: 90vh;
  background: url("assets/mountains.jpg") center/cover no-repeat;

  margin-bottom: 3.6rem;
}

.section-ideas {
  margin-bottom: 3.6rem;
  position: relative;
  min-height: 90vh;
  background: url("assets/rainbow-background.jpg") center/cover no-repeat
    #454e55;
}

.section-services {
  min-height: 90vh;
  padding: 8rem 0 12rem 0;
  margin-bottom: 1.3rem;
  background: url("assets/pc-background.jpg") center/cover no-repeat;
}

.services-secondary {
  background-color: #fff;

  .section-description--secondary {
    color: #fff;
    background-color: #58a6bf;
    background: linear-gradient(rgba(88, 166, 191, 0.5)),
      url("assets/bg-light.png") center/cover no-repeat,
      url("assets/pc-background-2.jpg") center/cover no-repeat;

    // min-height: 30vh;
    padding: 12rem 0;
  }

  margin-bottom: 3.6rem;
}

.section-team {
  background-color: #fff;
  margin-bottom: 3.6rem;

  .section-description--secondary {
    color: #fff;
    background-color: rgb(99, 71, 36);
    background: linear-gradient(rgba(99, 71, 36, 0.6)),
      url("assets/bg-light.png") center/cover no-repeat,
      url("assets/team-bg.jpg") top/cover no-repeat;

    // min-height: 30vh;
    padding: 12rem 0;
  }

  // .carousel-profiles {

  // }
}

.section-testimonial {
  padding: 4rem 0;
  background-color: #fff;
  margin-bottom: 3.6rem;
}

.section-work {
  padding: 4rem 0;
  background-color: #fff;
}
