.carousel-profiles {
  position: relative;
  height: 40rem;
  text-align: center;
  overflow: hidden;

  &__btn {
    position: absolute;
    display: inline-block;
    color: #a6a6a6;
    font-size: 1.4rem;
    border: 1px solid #a6a6a6;
    border-radius: 200px;
    width: 3rem;
    height: 3rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;

    i {
      color: inherit;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &--previous {
      left: 1rem;
    }

    &--next {
      right: 1rem;
    }
  }

  &__slider {
    position: relative;
    // transform: translateX(0rem);
    transition: transform 0.5s;
  }

  &__profile {
    position: absolute;
    left: 0;
    top: 0;
    width: 30rem; //Width will be used in JS to calculate the absolute placment of the items on the axis
  }

  &__icon {
    width: 15rem;
    height: 15rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    img {
      height: 100%;
    }
  }

  &__name {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__job-title {
    color: #888;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
  }

  &__text {
    display: inline-block;
    color: #888;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    max-width: 18rem;
    margin: 0 auto;
    min-height: 12rem;
  }

  &__media {
    display: flex;
    justify-content: center;
  }

  &__social-media-item {
    clip-path: polygon($shape-hexagon);
    width: 2.7rem;
    height: 2.7rem;
    font-size: 1.3rem;
    line-height: 1.9;

    &--twitter {
      background-color: #69c8ed;
    }

    &--fb {
      background-color: #496eb5;
    }

    &--google {
      background-color: #363836;
    }

    a {
      color: #fff;

      i {
        vertical-align: middle;
      }
    }

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
