.carousel-profiles {
  height: 40rem;
  text-align: center;

  &__slider {
    position: relative;
    // transform: translateX(0rem);
  }

  &__profile {
    position: absolute;
    left: 0;
    top: 0;
    width: 30rem; //Width will be used in JS to calculate the absolute placment of the items on the axis
  }

  &__icon {
    width: 15rem;
    height: 15rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    img {
      height: 100%;
    }
  }

  &__name {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__job-title {
    color: #888;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
  }

  &__text {
    display: inline-block;
    color: #888;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    max-width: 18rem;
    margin: 0 auto;
    min-height: 12rem;
  }

  &__media {
    display: flex;
    justify-content: center;
  }

  &__social-media-item {
    clip-path: polygon($shape-hexagon);
    width: 2.7rem;
    height: 2.7rem;
    font-size: 1.3rem;
    line-height: 1.9;

    &--twitter {
      background-color: #69c8ed;
    }

    &--fb {
      background-color: #496eb5;
    }

    &--google {
      background-color: #363836;
    }

    a {
      color: #fff;

      i {
        vertical-align: middle;
      }
    }

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
