.contact-form {
  width: 45rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #464646;

  &__group {
    position: relative;
    width: calc(50% - 1rem);

    &--textarea {
      width: 100%;
      position: relative;

      .contact-form__label {
        top: 5rem;
        left: 2rem;
      }
    }
  }

  &__input {
    padding: 1rem;
    width: 100%;
    border: 1px solid #c5c5c5;
    color: inherit;
    font-family: inherit;

    &::placeholder {
      visibility: hidden;
    }
  }

  &__input:valid {
    outline-color: #3ec300;
  }

  &__input:invalid {
    outline-color: #ff1d15;
  }

  &__label {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%) scale(1);
    left: 2rem;
    color: inherit;
    font-size: 1.4rem;
    transition: all 0.5s;
    pointer-events: none;
  }

  &__input:focus + &__label,
  &__input:not(:placeholder-shown) + &__label {
    transform: translate(0, -200%) scale(0.7);
  }

  &__message {
    padding: 2rem;
    margin-top: 2rem;
    display: block;
    width: 100%;
    border: 1px solid #c5c5c5;
    font-family: inherit;

    &::placeholder {
      visibility: hidden;
    }

    &:focus + .contact-form__label,
    &:not(:placeholder-shown) + .contact-form__label {
      transform: translateY(-5rem) scale(0.7);
    }
  }
}
