.item-hexagon-list {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;

  // &__list-item {

  // }

  &__icon {
    margin-bottom: 2rem;
  }

  &__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;
  }

  &__text {
    color: #888888;
    max-width: 25rem;
  }

  &--small {
    text-align: left;

    .item-hexagon-list__list-item {
      max-width: 40rem;
      margin-bottom: 8rem;
    }

    .item-hexagon-list__icon {
      float: left;
      max-width: 30%;
      margin-right: 2rem;

      img {
        width: 100%;
      }

      &::after {
        clear: both;
      }
    }

    .item-hexagon-list__title {
      margin-bottom: 1rem;
    }

    .item-hexagon-list__text {
      font-size: 1.4rem;
      max-width: 60%;
    }
  }
}
