.main-header {
  padding: 2.8rem 0;
  background-color: #fff;
  .container {
    max-width: 180rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__bottom-rule {
    border-bottom: none;
    border-top: 1px solid rgba(0, 0, 0, 0.6);
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.15);
    width: 100%;
  }

  &--dark-bg {
    background-color: transparent;
  }
}
