.main-nav {
  display: flex;

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #001111;

    &__item {
      text-transform: uppercase;
      font-weight: 400;

      transition: all 0.5s;
      margin-right: 2rem;

      a {
        text-decoration: none;
        color: inherit;
      }

      &:hover {
        color: #4095b0;
      }
    }

    &--dark-bg {
      color: #baa1b4;
      text-align: center;
      margin: 0 auto;

      .menu__item:hover {
        color: #fff;
      }
    }
  }
}
